#settings > div{
    display: inline-block;
    padding: 10px;
}

input[type="range"] {
    width: 200px;
}

.showValue {
    width: 50px;
}

.hide {
    display: block;
    color: blue;
    text-decoration: underline;
}

canvas {
    border:1px solid black;
}

#diagrams > div {
    display: inline-block;
}

#diagrams > div > div {
    position: relative;
}